*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  height: 100vh;

}

.slider_container{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slide_left{
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  transform 0.5s ease-in-out;
}

.slide_left>div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.slide_left h1{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.slide_right{
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition:  transform 0.5s ease-in-out;
}

.slide_right>div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button{
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover{
  color: #222;
}

button:focus{
  outline: none;
}

.slider_container .action_btn button{
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 99;
}

.slider_container .action_btn .down_btn{
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider_container .action_btn .up_btn{
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}