*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  height: 100vh;overflow-x: hidden;
  background-color: #333;
  color: #222;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  /* position: relative; */
  padding: 50px;
  transform-origin: top left;
  transition: transform 0.3s linear;
}
.container.show_nav{
  transform: rotate(-20deg);
}

.circle_container{
  position: fixed;
  top:-100px;
  left:-100px;
  /* z-index: 99; */
  transform-origin: top left;
  transition: transform 0.3s linear;
}
.circle_container button{
  background-color: transparent;
  border: 0px;
  font-size: 18px;
  z-index: 99;
}
.circle{
  position: relative;
  background-color: transparent;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: #ff7979;
}
#open{
  position: absolute;
  right: 50px;
  bottom: 50px;
}
#close{
  position: absolute;
  left: 50px;
  bottom: 50px;
  transform: rotate(90deg);
}
.circle.show_nav{
  transform: rotate(-90deg);
}

.content{
  height: 100%;
  width: 100%;
  margin: 50px auto;
  transform-origin: top left;
  background-color: #fff;
  transition: transform 0.3s linear;
}
.content.show_nav{
  transform: rotate(-20deg);
}

.nav_container{
  position: fixed;
  left: 0;
  bottom: 0;
}
.nav_container a{
  text-decoration: none;
}